Company Dataset

In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\raiar\onedrive\documents\github\task-1-project\.venv\lib\site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\raiar\onedrive\documents\github\task-1-project\.venv\lib\site-packages (from pandas) (2.4.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\raiar\onedrive\documents\github\task-1-project\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\raiar\onedrive\documents\github\task-1-project\.venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\raiar\onedrive\documents\github\task-1-project\.venv\lib\site-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in c:\users\raiar\onedrive\documents\github\task-1-project\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("people-100000.csv")

In [3]:
df.drop_duplicates(df)

,Index,User Id,First Name,Last Name,Sex,Email,Phone,Date of birth,Job Title
0,1,e09c4f4cbfEFaFd,Dawn,Trevino,Male,clintongood@example.org,360-423-5286,1972-01-17,"Teacher, primary school"
1,2,D781D28b845Ab9D,Dale,Mcknight,Male,clairebradshaw@example.org,9062423229,1931-01-31,"Development worker, community"
2,3,eda7EcaF87b2D80,Herbert,Bean,Female,johnnybooker@example.org,001-149-154-0679x1617,2018-02-10,Ceramics designer
3,4,E75ACea5D7AeC3e,Karen,Everett,Female,wkhan@example.org,870.294.7563x20939,1938-06-14,"Civil engineer, consulting"
4,5,9C4Df1246ddf543,Angela,Shea,Male,reginaldgarner@example.com,242.442.2978,1971-11-22,Health and safety adviser
...,...,...,...,...,...,...,...,...,...
99995,99996,eDbebb82Bdf859c,Eduardo,Fuentes,Male,zacharygalloway@example.net,971-408-5795x791,2015-09-02,"Designer, graphic"
99996,99997,78B30216f7Ad5eA,Marcus,Ferguson,Male,qkane@example.org,001-183-966-1623x446,1978-01-30,Cytogeneticist
99997,99998,E0edBf053adCEc1,Marilyn,Benson,Male,jenny91@example.com,3010820886,1939-07-11,Engineering geologist
99998,99999,fA585A02f6A86C5,Felicia,Robbins,Female,imcneil@example.com,(753)522-4673,1942-02-05,Clinical cytogeneticist
99999,100000,FE35edEdE3BaC90,Jackie,Doyle,Male,emay@example.net,357.974.5692x909,1918-05-30,"Teacher, special educational needs"

In [4]:
df.dropna(subset=["Phone"], inplace=True)

In [7]:
df.dtypes

Index                     int64
User Id                  object
First Name               object
Last Name                object
Sex                      object
Email                    object
Phone                    object
Date of birth    datetime64[ns]
Job Title                object
dtype: object

In [17]:
df["Date of birth"] = pd.to_datetime(
    df["Date of birth"],
    errors="coerce",
    dayfirst=True
)
df["Date of birth"] = df["Date of birth"].dt.strftime("%d-%m-%Y")

In [24]:
df.dtypes

Index             int64
User Id          object
First Name       object
Last Name        object
Sex              object
Email            object
Phone            object
Date of birth    object
Job Title        object
dtype: object

In [25]:
df["Phone"] = df["Phone"].astype(str)

In [26]:
df["Phone"] = df["Phone"].str.replace(r"\D", "", regex=True)

In [27]:
df["Sex"] = df["Sex"].replace({"Male": "M", "Female": "F"})

In [30]:
df.head()

,Index,User Id,First Name,Last Name,Sex,Email,Phone,Date of birth,Job Title
0,1,e09c4f4cbfEFaFd,Dawn,Trevino,M,clintongood@example.org,3604235286,17-01-1972,"Teacher, primary school"
1,2,D781D28b845Ab9D,Dale,Mcknight,M,clairebradshaw@example.org,9062423229,31-01-1931,"Development worker, community"
2,3,eda7EcaF87b2D80,Herbert,Bean,F,johnnybooker@example.org,00114915406791617,10-02-2018,Ceramics designer
3,4,E75ACea5D7AeC3e,Karen,Everett,F,wkhan@example.org,870294756320939,14-06-1938,"Civil engineer, consulting"
4,5,9C4Df1246ddf543,Angela,Shea,M,reginaldgarner@example.com,2424422978,22-11-1971,Health and safety adviser